body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.box {
    width: 120px;
    height: 120px;
    position: absolute;
}

.yellow {
    background-color: yellow;
    top: 50px;
    left: 50px;
}

.green {
    background-color: green;
    top: 220px;
    left: 50px;
}

.blue {
    background-color: blue;
    top: 50px;
    right: 50px;
}

.red {
    background-color: red;
    top: 220px;
    right: 50px;
 {
